<% if flash[:success] %>
	<p><%= flash[:success] %></p>
<% end %>

<div class="row">
	<div class="col-xs-3">

	<%= render  'users/userinfo' %>

	<%= render 'newbook', book: @newbook %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>
		<table class="table">
			<tbody>
				<tr id="book_<%= @book.id %>">
					<%= render partial: 'books/book', locals: { book: @book } %>
				</tr>
			</tbody>
		</table>

		<h2>Comments</h2>
			<div id="comment_box">
				<%= render partial: 'books/comment', locals: { book: @book } %>
			</div>

		<%= form_with model: [@book, @book_comment] do |form| %>
		    <div class="row">
		        <div class="col-sm-11">
		            <%= form.text_area :comment, rows:'5', class: "form-control" %>
		        </div>
				    <%= form.submit "送信", class: "btn btn-primary d-flex align-items-end" %>
		    </div>
		<% end %>

	</div>
</div>